.h1 {
    font-weight:bold;
}

.banner {
    background-image: url("../images/header_bg.jpg");
    opacity: 0.8;
    background-size: contain;
    color:white;
}

.nav_bg {
    background-color: #202020;
}
.body_bg {
    background-color: #303030;
}