header{
    text-align: center;
    color: white;
    background-color: midnightblue;
    padding: 30px;
}

.grey_bg{
    background-color:#3b3b3b;
    color:white;
}
.grey_bg:focus{
    background-color:#3b3b3b;
    color:white;
}

.lead{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: lightblue;
}
h2{
    text-align: center;
    padding: 0 0 20px 0;
}
.display-2 {
    font-size: 5.5rem;
    font-size: 2em;
    color: white;
    line-height: 1.2;
}
.jumbotron{
    text-align: center;
}
h3{
    text-align: center;
    float: initial;
}
#message{
    color: red;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
}